<!DOCTYPE HTML>
<html>
  <head>
    <title>Disaster Data</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js"></script>


    

    <link rel="stylesheet" type="text/css" href="/static/checkr.css">

    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">

  </head>
  <body>

    <nav class="navbar navbar-default">
  <div class="container-fluid">
   
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Disaster Data</a>
    </div>

   
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <form action="/search" method="GET" class="navbar-form navbar-right" role="form">

        <div class="input-group">
            <span class="input-group-addon">Incident Type</span>
            <select class="form-control" id="incident" name="incident">
                  <option value="">None</option>
                  {% for incident in incidents %}
                    <option value="{{ incident }}">{{ incident }}</option>
                  {% endfor %}
            </select>                                        
        </div>
        <div class="input-group">
            <span class="input-group-addon">Start Date</span>
            <input class="form-control" type="date" id="startDate" name="start_date">                                        
        </div>

        <div class="input-group">
            <span class="input-group-addon">End Date</span>
            <input class="form-control" type="date" id="endDate" name="end_date">                                        
        </div>

        <button id="search-button" type="submit" class="btn btn-default">Submit</button>
     </form>
     
    </div>
  </div>
</nav>


  {% block content %}
    put your content here
  {% endblock %}

  </body>
</html>